{% extends "core/base.html" %}

{% block content %}
  <form method="post">
    <h2>Login to Quantum Bank</h2>
    {% csrf_token %}
    
    <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
        <a href="{% url 'password_reset' %}" style="font-size: 0.9em; float: right; margin-top: 5px;">Forgot Password?</a>
    </p>

    {% if form.errors %}
        <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <button type="submit" class="btn">Login</button>
    <hr>
    
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    <p style="text-align: center; margin-top: 1rem; font-size: 0.9em;">
        <a href="{% url 'admin:index' %}">Admin Login</a>
    </p>
  </form>
{% endblock %}